$girl: 'CCGlitterGirl Regular', sans-serif;



body {
    margin: 10px; /* Remove a margem padrão do body */
    padding: 0; /* Remove o padding padrão do body */
    height: 100vh; /* Faz o body ocupar toda a altura da tela */
    border: 5px solid black; /* Adiciona a borda */
    box-sizing: border-box; /* Garante que a borda não aumente o tamanho da tela */
    background: url('../../assets/paper.avif')
}

.girl {
    font-family: $girl;
    border-top: 0;
    border-bottom: 0;
}

header {
    // margin-bottom: 6%;
    height: 300px;
    border-bottom: solid;

    // text-align: center;
    .super-header{
        display: flex;
        justify-content: space-between; /* Isso vai distribuir os itens */
        align-items: center; /* Alinha verticalmente os itens */
        padding: 10px 20px;
        
        span {
            font-family: Roboto;
            font-size: large;
            margin: 10px;
        }

        #name {
            flex-grow: 1;
        }
    }

    #std {
        margin-top: 4rem;
        display: block;
        text-align: center;
        font-size: xx-large;
        font-family: $girl;
    }

    #git {
        display: block;
        text-align: center;
        font-size: 20px;
        color: #7da3a3;
    }
}


.meiota {
    /* Adicionando borda a cada span */
    span {
        border-top: solid black; /* Defina a espessura e a cor da borda */
        border-right: solid black; /* Defina a espessura e a cor da borda */
        padding: 2px; /* Espaçamento interno para garantir que a borda não fique colada ao texto */
        margin-bottom: 5px; /* Espaçamento entre os spans */
        margin: 0;
        // font-family:  Roboto, ;
    }

    display: flex;
    // justify-content: space-around;
    border-bottom: solid;
    
    .first {
        // background: rebeccapurple;
        width: 100vh;
        display: flex;
        flex-direction: column;
    }
    .sec {
        // background: rebeccapurple;
        width: 100vh;
        display: flex;
        flex-direction: column;
    }
    .third {
        // background: rebeccapurple;
        width: 100vh;
        display: flex;
        flex-direction: column;
    }
}
