
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code - Controle de Leituras</title>
</head>
<body>
    <h1>Controle de Leituras do QR Code</h1>
    <p>Escolha uma das opções abaixo:</p>

    <!-- Botões para redirecionar para as rotas -->
    <button onclick="window.location.href='/ver_leitura'">Ver número de leituras</button>
    <br><br>
    <button onclick="window.location.href='/foi_lido'">Ver se o QR Code foi lido</button>
</body>
</html>
